function Minesweeper.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Minesweeper.run 4
push argument 0
pop pointer 0
push constant 0
pop this 2
push constant 24
pop local 1
push constant 12
pop local 2
push constant 12
pop local 3
push local 1
push local 2
push local 3
call Grid.new 3
pop this 0
call Cursor.new 0
pop this 1
push this 1
push this 0
call Cursor.init 2
pop temp 0
call Strings.displayTitle 0
pop temp 0
call Strings.displayInstructions 0
pop temp 0
call Sprites.drawBorder 0
pop temp 0
push this 0
call Grid.getMineCount 1
call Strings.displayMineCount 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 4
eq
not
not
if-goto WHILE_END0
push this 0
push this 2
push this 0
call Grid.gameWon 1
or
call Grid.draw 2
pop temp 0
push this 1
call Cursor.captureInput 1
pop local 0
push local 0
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 2
call Screen.clearScreen 0
pop temp 0
call Strings.displayTitle 0
pop temp 0
call Strings.displayInstructions 0
pop temp 0
call Sprites.drawBorder 0
pop temp 0
push this 0
call Grid.dispose 1
pop temp 0
push local 1
push local 2
push local 3
call Grid.new 3
pop this 0
push this 1
push this 0
call Cursor.init 2
pop temp 0
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
call Cursor.getX 1
push this 1
call Cursor.getY 1
call Grid.reveal 3
pop this 2
label IF_FALSE1
push local 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
call Cursor.getX 1
push this 1
call Cursor.getY 1
call Grid.flag 3
pop temp 0
label IF_FALSE2
push this 0
call Grid.getMineCount 1
push this 0
call Grid.getFlagCount 1
sub
push constant 0
call Math.max 2
call Strings.displayMineCount 1
pop temp 0
push this 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Cursor.lock 1
pop temp 0
call Strings.displayGameLost 0
pop temp 0
label IF_FALSE3
push this 0
call Grid.gameWon 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
call Cursor.lock 1
pop temp 0
call Strings.displayGameWon 0
pop temp 0
label IF_FALSE4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Minesweeper.dispose 0
push argument 0
pop pointer 0
push this 0
call Grid.dispose 1
pop temp 0
push this 1
call Cursor.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
