function Node.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function Node.getNext 0
push argument 0
pop pointer 0
push this 2
return
function Node.getPrev 0
push argument 0
pop pointer 0
push this 1
return
function Node.getValue 0
push argument 0
pop pointer 0
push this 0
return
function Node.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Node.setPrev 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Node.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
