function QueueTest.test 3
call Queue.new 0
pop local 0
push local 0
push constant 1
call Queue.enqueue 2
pop temp 0
push local 0
push constant 2
call Queue.enqueue 2
pop temp 0
push local 0
push constant 3
call Queue.enqueue 2
pop temp 0
call Queue.new 0
pop local 1
call Queue.new 0
pop local 2
push local 2
push constant 1
call Queue.enqueue 2
pop temp 0
push local 2
push constant 2
call Queue.enqueue 2
pop temp 0
push local 2
push constant 3
call Queue.enqueue 2
pop temp 0
push local 0
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 0
call Queue.isEmpty 1
call Output.printInt 1
pop temp 0
push local 0
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 0
call Queue.isEmpty 1
call Output.printInt 1
pop temp 0
push local 0
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 0
call Queue.isEmpty 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Queue.dispose 1
pop temp 0
push local 1
call Queue.isEmpty 1
call Output.printInt 1
pop temp 0
push local 1
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call Queue.dispose 1
pop temp 0
push local 2
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 2
push constant 4
call Queue.enqueue 2
pop temp 0
push local 2
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 2
push constant 5
call Queue.enqueue 2
pop temp 0
push local 2
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 2
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
push local 2
call Queue.dequeue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
call Queue.dispose 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 0
return
