function Sprites.drawBorder 0
push constant 63
push constant 31
push constant 447
push constant 31
call Screen.drawLine 4
pop temp 0
push constant 63
push constant 31
push constant 63
push constant 223
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Sprites.drawCursor 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16930
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawClosedCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 18725
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8323
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 5462
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 10921
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 5461
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 10922
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 5461
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 5462
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 10921
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 5461
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 10922
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 5461
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawMineCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31280
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24580
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31280
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawFlagCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 18726
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8323
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16382
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15997
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15485
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 14462
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 12413
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16255
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16254
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16253
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15933
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 14350
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12293
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawNumberedCell 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Sprites.drawZeroCell 1
pop temp 0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Sprites.drawOneCell 1
pop temp 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Sprites.drawTwoCell 1
pop temp 0
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Sprites.drawThreeCell 1
pop temp 0
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
call Sprites.drawFourCell 1
pop temp 0
label IF_FALSE4
push argument 0
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
call Sprites.drawFiveCell 1
pop temp 0
label IF_FALSE5
push argument 0
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 1
call Sprites.drawSixCell 1
pop temp 0
label IF_FALSE6
push argument 0
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push argument 1
call Sprites.drawSevenCell 1
pop temp 0
label IF_FALSE7
push argument 0
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push argument 1
call Sprites.drawEightCell 1
pop temp 0
label IF_FALSE8
push constant 0
return
function Sprites.drawZeroCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawOneCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawTwoCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29160
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31872
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32656
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawThreeCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29160
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 30976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29160
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawFourCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31872
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31904
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31952
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28676
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28676
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawFiveCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 30728
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30728
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31752
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30728
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 29184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29672
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawSixCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29672
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30728
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawSevenCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 28688
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28688
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 30976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31872
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.drawEightCell 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31776
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
